---
layout: layout.liquid
title: The Chosen Ones
---

<h1><strong>The Chosen One's</strong></h1>
<h2> Info about Chosen One Trope<h2>
<p> Throughout many science fiction movies there is a common trope where the protagonist is the chosen one and usually destined to change the universe or the world. Typically at the begining they dont believe it but throughout the films, they slowly grow into their role. This character A few examples that we arent going to explore further today include Frodo Baggins from Lord of the Rings, Bilbo Baggins from the Hobbit, Harry Potter, and Katniss Everdeen. Though this trope is very common in sci-fi, it always makes for very interesting films.</h2>
<img src="/images/harrypotter.jpg" alt="harrypotter" width="325" height="250"></img>
