 <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About My Travels">Neo</a></li>
      <li><a href="/blog1/" title="Blog Post 1">Paul Atreides</a></li>
      <li><a href="/blog2/" title="Blog Post 2">Anakin Skywalker</a></li>
    </ul>
  </nav>