 <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About My Travels">About</a></li>
      <li><a href="/blog1/" title="Blog Post 1">Blog 1</a></li>
      <li><a href="/blog2/" title="Blog Post 2">Blog 2</a></li>
    </ul>
  </nav>